td{
    width:100px;
    height:100px;
}
tr td:nth-of-type(2){
    border-left: 2px black solid;
    border-right: 2px black solid;
}
tr:nth-of-type(2) td{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}
h1 {
    text-align: center;
}
table{
    margin: auto;
}